.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: max-content;
  background: black;
}

.temp_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding: 20px;
  background: black;
  color: white;
  top: 0;
  z-index: 100;
}

button {
  background: none;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background: white;
  width: 1%;
  height: 1%;
  transition: width ease-in-out 0.5s;
  z-index: -1;
}

button:hover::after {
  width: 103%;
  height: 107%;
  background: linear-gradient(to bottom right, #a2f1ff 0%, #5865f2 100%);
}

.select_path {
  background-color: rgb(27, 27, 27);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  text-align: start;
  border-radius: 5px;
  padding:1rem;
}

.select_path_title {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.select_path:hover {
  background-color: rgb(40, 40, 40);
}

